#IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse project files
.classpath
.settings/
.project

# Android 2,2 C/C++ compile
.externalNativeBuild

# Gradle build folder
build/
.gradle/

# Android
local.properties
bin/
gen/

# JNI compile files
 *.o
 *.0.d

 # OS autogen folder information
 .DS_Store
 Thumbs.db

 #Temp files
 *.bak
 *.tmp
 *.temp
 *.swp
 *.*~
 ~*.*
